@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap");
/*
0 - 600px  --> Phone
600 - 900px  --> Tablet portrait
900 - 1200px  --> Tablet landscape
(1200 - 1800)  --> is where our normal styles apply
1800px + ...   --> Big dekstop

phone - Phone
tab-port - Tablet portrait
tab-land - Tablet landscape
big-dekstop - Big dekstop

1em = 16px
600 / 16 = 37.5 em
900 / 16 = 56.25 em
1200 / 16 = 75 em
1800 / 16 = 112.5 em
*/
button {
  background-color: transparent;
  border: 1px solid rgba(1, 1, 1, 0.12);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  padding: 7px 10px;
  transition: all 0.2s;
}
button:hover {
  cursor: pointer;
  border: 1px solid rgba(1, 1, 1, 0.518);
}

.main-login {
  height: 300px;
  width: 300px;
}
.main-login .user,
.main-login .admin {
  width: 90%;
  height: 35%;
  border: 1px solid rgba(1, 1, 1, 0.12);
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.1s;
}
.main-login .user:hover,
.main-login .admin:hover {
  border: 1px solid rgba(1, 1, 1, 0.518);
  cursor: pointer;
}

.admin-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin-modal .movie-list,
.admin-modal .movie-create {
  border: 1px solid rgba(1, 1, 1, 0.12);
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 7px;
  letter-spacing: 1.5px;
  padding: 20px 20px;
  margin-right: 35px;
  transition: all 0.2s;
}
.admin-modal .movie-create {
  margin-right: 0px;
}
.admin-modal .movie-list:hover,
.admin-modal .movie-create:hover {
  cursor: pointer;
  border: 1px solid rgba(1, 1, 1, 0.518);
}

.main-create {
  border: 1px solid rgba(1, 1, 1, 0.518);
  height: 70%;
  width: 70%;
  margin-top: 25px;
}
.main-create .input-box {
  width: 40%;
}
.main-create .input-box input {
  width: 100%;
}
@media only screen and (max-width: 75em) {
  .main-create .input-box {
    width: 70%;
  }
}
.main-create .create-movie-btn {
  width: 30%;
  margin-top: 5%;
  padding: 7px 0;
}
@media only screen and (min-width: 112.5em) {
  .main-create {
    width: 60%;
  }
}

.main-list {
  padding: 40px;
}
.main-list .movie-box {
  width: 300px;
  height: 500px;
  border: 1px solid rgba(1, 1, 1, 0.12);
  transition: all 0.2s;
}
.main-list .movie-box--img {
  width: 90%;
  height: 70%;
  border: 1px solid rgba(1, 1, 1, 0.518);
  margin: 10px auto;
}
.main-list .movie-box--img .main-movie-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-list .movie-box--details {
  height: 25%;
  margin: 10% 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-list .movie-box--details__title {
  font-size: 16px;
}
.main-list .movie-box--details--delete-btn {
  margin: 0 auto;
  width: 90%;
  z-index: 50;
}
.main-list .movie-box:hover {
  cursor: pointer;
  border: 1px solid rgba(1, 1, 1, 0.518);
}

.main-single-page {
  border: 1px solid rgba(1, 1, 1, 0.518);
  width: 90%;
  padding: 20px;
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}
@media only screen and (max-width: 75em) {
  .main-single-page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
  }
}
@media only screen and (max-width: 37.5em) {
  .main-single-page {
    border: none;
    padding: 0;
  }
}
.main-single-page--img {
  width: 90%;
  height: 515px;
}
@media only screen and (max-width: 75em) {
  .main-single-page--img {
    width: 80%;
    height: 430px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 37.5em) {
  .main-single-page--img {
    width: 100%;
    height: 300px;
    margin: 0 auto;
  }
}
.main-single-page--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-single-page--left-side__title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
}
@media only screen and (max-width: 75em) {
  .main-single-page--left-side__title {
    text-align: center;
  }
}
.main-single-page--left-side__select-seats {
  height: 405px;
  border: 1px solid rgba(1, 1, 1, 0.518);
  padding: 10px;
}
.main-single-page--left-side__select-seats .screen {
  width: 80%;
  text-align: center;
  margin: 0px auto 30px auto;
  border: 1px solid rgba(1, 1, 1, 0.518);
}
.main-single-page--left-side__select-seats .seats .seat {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(1, 1, 1, 0.518);
  text-align: center;
  align-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main-single-page--left-side__select-seats .seats .seat:hover {
  cursor: pointer;
  border: 2px solid rgb(47, 255, 50);
}
.main-single-page--left-side .buttons {
  margin-top: 30px;
}

.available-seats {
  text-transform: lowercase;
  font-size: 14px;
}

.reservation-info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}
.reservation-info div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.reservation-info div .res-box {
  border: 1px solid rgba(1, 1, 1, 0.518);
  width: 20px;
  height: 20px;
}
.reservation-info div .available {
  background-color: rgb(255, 255, 255);
}
.reservation-info div .selected {
  background-color: rgb(238, 230, 144);
}
.reservation-info div .reserved {
  background-color: rgb(238, 150, 144);
}

.selected-border {
  border: 3px solid greenyellow;
}

.selected {
  background-color: rgb(238, 230, 144);
}

.reserved {
  background-color: rgb(238, 150, 144);
}

.disable {
  pointer-events: none;
  cursor: default;
}

body {
  height: 100vh;
  font-family: "Quicksand", sans-serif;
}

.main-title {
  text-align: center;
  font-size: 25px;
  margin-top: 25px;
}

.d-none {
  display: none;
}

.toolbar {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
}
.toolbar .toolbar-link {
  text-decoration: none;
  color: grey;
  text-transform: uppercase;
}
.toolbar .toolbar-link:hover {
  cursor: pointer;
  color: black;
}

.current-user {
  color: rgb(250, 57, 89) !important;
  position: absolute;
  right: 5%;
  top: 0;
}/*# sourceMappingURL=style.css.map */