.main-create {
    border: $border-dark;
    height: 70%;
    width: 70%;
    margin-top: 25px;

    .input-box {
        width: 40%;
        color: $color-main-light;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 10px;

        input {
            width: 100%;
            line-height: 2;
            font-size: 16px;
            padding: 0px 7px;
            background: transparent;
            border: none;
            border-bottom: 1px solid #ffffff8a;
            margin-top: 7px;
            color: white;
            outline: none;
        }

        @include respond(tab-land) {
            width: 70%;
        }
    }

    .create-movie-btn {
        width: 30%;
        margin-top: 5%;
        padding: 10px 0;
        color: white;
        border: 1px solid #ffffff36;

        &:hover {
            border-color: $color-main-purple;
            color: $color-main-purple;
            box-shadow: $box-shadow-light;
        }
    }

    @include respond(big-dekstop) {
        width: 60%;
    }
}