.main-login {
    height: 300px;
    width: 300px;

    .user,
    .admin {
        width: 90%;
        height: 35%;
        border: $border-light;
        font-size: 25px;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all 0.1s;

        &:hover {
            border: $border-dark;
            cursor: pointer;
        }
    }
}

.admin-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .movie-list,
    .movie-create {
        border: $border-light;
        font-size: 22px;
        text-transform: uppercase;
        word-spacing: 7px;
        letter-spacing: 1.5px;
        padding: 20px 20px;
        margin-right: 35px;
        transition: all 0.2s;
    }

    .movie-create {
        margin-right: 0px;
    }

    .movie-list:hover,
    .movie-create:hover {
        cursor: pointer;
        border: $border-dark;
    }
}