.main-single-page {
    border: $border-dark;
    width: 90%;
    padding: 20px;
    margin: 5%;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;

    @include respond(tab-land) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.5fr;
    }

    @include respond(phone) {
        border: none;
        padding: 0;
    }

    &--img {
        width: 90%;
        height: 515px;

        @include respond(tab-land) {
            width: 80%;
            height: 430px;
            margin: 0 auto;
        }

        @include respond(phone) {
            width: 70%;
            height: 100%;
            margin: 0 auto;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &--left-side {
        background: #000a455c;
        padding: 25px;

        &__title {
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 600;
            width: 100%;
            color: $color-main-purple;

            @include respond(tab-land) {
                text-align: center;
            }

            .available-seats {
                text-transform: lowercase;
                font-size: 14px;
                color: $color-main-light;
            }
        }

        &__select-seats {
            min-height: 405px;
            margin-top: 25px;
            border: $border-white;
            padding: 0 10px 10px 10px;

            .screen {
                width: 80%;
                text-align: center;
                margin: 0px auto 30px auto;
                background-color: white;
                border-radius: 0 0 25px 25px;
                box-shadow: 0px 5px 20px 7px #b7d1fa;
            }

            .seats {
                margin-top: 50px;

                .seat {
                    width: 50px;
                    height: 50px;
                    border: $border-white;
                    text-align: center;
                    align-content: center;
                    user-select: none;
                    color: white;

                    &:hover {
                        cursor: pointer;
                        border: 2px solid rgb(47, 252, 255);
                    }
                }
            }
        }

        .buttons {
            margin-top: 30px;
        }
    }
}