.reservation-info {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    color: $color-main-light;

    div {
        display: flex;
        align-items: center;
        gap: 15px;

        .res-box {
            border: $border-dark;
            width: 20px;
            height: 20px;
        }


        .available {
            background-color: rgb(255, 255, 255);
        }

        .selected {
            background-color: rgb(233 213 0);
        }

        .reserved {
            background-color: rgb(178 52 52);
        }

    }
}


.selected {
    background-color: rgb(233 213 0);
}

.reserved {
    background-color: rgb(178 52 52);
}

.disable {
    pointer-events: none;
    cursor: default;
}

.cancel-info {
    color: $color-main-light;
    margin-top: 20px;
}

.reservation {
    color: $color-main-light;

    &:hover {
        border: $border-white;
        color: white;
    }
}