@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

@import './abstracts/variables';
@import './abstracts/mixins';
@import './components/button';
@import './login.scss';
@import './create.scss';
@import './movie-list.scss';
@import './movie-page.scss';
@import './reservation';

body {
    height: 100vh;
    font-family: "Quicksand", sans-serif;
}

.main-title {
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
}

.d-none {
    display: none;
}

.toolbar {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;

    .toolbar-link {
        text-decoration: none;
        color: grey;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
            color: black;
        }
    }
}

.current-user {
    color: rgb(250, 57, 89) !important;
    position: absolute;
    right: 5%;
    top: 0;
}