$border-extra-light: 1px solid rgb(254 233 233 / 0%);
$border-light: 1px solid rgba(1, 1, 1, 0.12);
$border-dark: 1px solid rgba(1, 1, 1, 0.518);
$border-white: 1px solid rgba(255, 254, 254, 0.272);


// Font
$color-main-purple: #6e8deb;
$color-main-light: rgb(191, 202, 220);

//Shaow
$text-shadow-light: 0px 0px 2px white;
$box-shadow-light: 0 0px 50px #ffffff24;